---
import "./TopBar.css"
---
      <!-- Estilo 4: Botones con bordes -->
        
       <div class="badges-container-2">
            <a class="badge-medium" href="https://revistas.intec.edu.do/" target="_blank">
                <i class="fas fa-book-open" style="margin-right: 0.5rem;"></i>
                Revistas
            </a>
            
            <a class="badge-medium" href="https://cris.intec.edu.do/">
                <i class="fas fa-database" style="margin-right: 0.5rem;"></i>
                CRIS-INTEC
            </a>
            
            <a class="badge-medium" href="https://repositoriobiblioteca.intec.edu.do/" target="_blank">
                <i class="fas fa-archive" style="margin-right: 0.5rem;"></i>
                Repositorio
            </a>
            
            <a class="badge-medium" href="https://ediciones.intec.edu.do/index.php/edintec" target="_blank">
                <i class="fas fa-graduation-cap" style="margin-right: 0.5rem;"></i>
                Ediciones
            </a>
        </div>>
